<div class="home">

  <h1>Who doesn't love bacon?</h1>

  <div id="baconstache">
    <img src="assets/baconstache.png">
  </div>

  <h4>No seriously, do you know anyone who doesn't love bacon? If so let me know - we've got to help them out.</h4>

  <p>So, here's the deal. Bacon is awesome and the internet is awesome, but we still haven't figured out to send bacon over the internet. So, as much as I'd love to fry you up some tasty bacon right now, I can't. I’ll have to give you the next best thing. Here’s some tasty bacon for your mind, courtesy of Bacon Ipsum:</p>

  <div id="bacon-ipsum-wrap">
    <div id="bacon-ipsum">
    </div>
  </div>

  <div id="bacon-button">
    <button>Still hungry? Get more bacon.</button>
  </div>

  <footer>
    <div id="footer-text">
      <p>That guy on the bottom right? That isn't me, that's Kevin Bacon. My name is Justin Doak, and you can learn more about me here.</p>
    </div>

    <div id="kevin">
      <img src="assets/kevinbacon.jpg">
    </div>
  </footer>

</div>
