<div class="map-page">
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDElajrYLklpSdie1cHvtiYuQIC_1gTOpw&callback=initMap">
  </script>
  <%= content_tag :div, class: "locations", data: {locations: @locations} do %>
  <% end %>

  <h1>Here be markers!</h1>

  <div id='map'>
  </div>


  <h4>Still hungry?<%= link_to 'Get some Bacon', root_path %></h4>
  <h4>Or <%= link_to 'check out my FAQ', answers_path %>.</h4>
</div>
