// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "home";
@import "faqs";
@import "map";
@import "bootstrap-sprockets";
@import "bootstrap";

html {
	min-height: 100%;
	position: relative;
}

body {
	background: lightgray;
	height: 100%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
