// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: #f9f9f9;
}


.home {
	padding: 30px;
	width: 100%;
	max-width: 700px;
	margin: 0 auto;

	@media (max-width: 768px) {
		max-width: 100%;
	}

	h1 {
		color: red;
		// font-size: 18px;
		margin-top: 0;
		text-align: center;
	}

	#baconstache {
	width: 40%;
	min-width: 115px;
	margin: 0 auto;
		img {
			width: 100%;
		}
	}

	h4 {
		text-align: center;
	}

	#bacon-ipsum-wrap {
		background: url("bacon.png") center center no-repeat;
		#bacon-ipsum {
			background: rgba(255, 255, 255, .7);
			padding: 5px;
			text-color: darkslategray;
		}
	}

}
