// Place all the styles related to the faqs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.answers {
  padding: 30px;
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;
  background: blue;

  header {
    div {
      height: 150px;
      display: inline;
      width: 25%;
    }
  }
  img {
    height: 150px;
    display: inline;
  }

}
