// Place all the styles related to the faqs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.answers {
  padding: 45px 30px 30px;
  width: 100%;
  height: 100%;
  margin: -45px auto 0;
  background: #5f9ea0;

  a {
    color: lightgray;
    text-decoration: none;
  }
  a:hover {
    color: white;
    text-decoration: none;
  }

  .faqs-header {
    padding-bottom: 10px;
    h1 {
      margin: 10px 0 20px;
    }
    div, h1 {
      text-align: center;
    }
    img {
      height: 150px;
      border-radius: 50%;
      border: 2px solid white;
      margin: 0 auto;
    }
  }

  .new-question {
    text-align: center;
  }

  #all-faqs {
    padding-top: 10px;
    .grid-sizer {
      width: 50%;
      @media (max-width: 400px) {
        width: 100%;
      }
      @media (min-width: 850px) {
        width: 33%;
      }
    }
    .faq {
      float: left;
      width: 46%;
      margin: 0 2% 3%;
      background: lightgray;
      border-radius: 5px;
      border: 2px solid black;
      @media (max-width: 400px) {
        width: 100%;
        margin: 0 0 3%;
      }
      @media (min-width: 850px) {
        width: 30%;
        margin: 0 1.5% 3%;
      }
      .question {
        text-align: center;
        border-bottom: 1px solid black;
        padding: 2px;
        margin-bottom: 3px;
      }
      [class*="answer"] {
        padding: 4px 2px;
      }
      .answer-1 {
        padding-top: 1px;
      }
      .faq-anchors {
        text-align: right;
        padding: 0 5px 2px;
        a {
          display: block;
          color: darkslategray;
        }
      }
      a:hover {
        color: black;
      }
    }
  }

}
