// Place all the styles related to the faqs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.answers {
  padding: 30px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: skyblue;

  header {
    h1 {
      margin: 10px 0 20px;
    }

    div, h1 {
      text-align: center;
    }

    img {
      height: 150px;
      border-radius: 50%;
      border: 2px solid white;
      margin: 0 auto;
    }
  }

  #all-faqs {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    .faq:nth-of-type(odd) {
      float: left;
    }
    .faq:nth-of-type(even) {
      float: right;
    }
    .faq {
      float: left;
      background: lightgray;
      border-radius: 5px;
      border: 2px solid black;
      width: 45%;
      max-width: 225px;
      margin-bottom: 5px;
    }
  }

}
