// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
  padding: 30px;
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0 auto;

  @media (max-width: 768px) {
    max-width: 100%;
  }

  h1 {
    color: red;
    margin-top: 0;
    text-align: center;
  }

  #baconstache {
  width: 40%;
  min-width: 115px;
  margin: 0 auto;
    img {
      width: 100%;
    }
  }

  h4 {
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
  }

  #bacon-ipsum-wrap {
    background: url("bacon.png") center center no-repeat;
    border-radius: 5px;
    border: 2px solid brown;
    #bacon-ipsum {
      background: rgba(255, 255, 255, .7);
      border-radius: 5px;
      padding: 5px;
      color: darkslategray;
    }
  }

  #bacon-button {
    text-align: center;
    button {
      border: none;
      background-color: maroon;
      color: white;
      padding: 10px 32px;
      text-decoration: none;
      margin: 5px 0 50px;
    }
    button:hover {
      background-color: brown;
    }
    button:focus {
      outline: 0;
    }
  }

  footer {
    width: 100%;

    #footer-text {
      width: 70%;
      display: inline-block;
    }

    #kevin {
      width: 20%;
      display: inline-block;
      text-align: right;
      img {
        width: 100px;
      }
    }

  }

}
