<div class="map-page">
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDElajrYLklpSdie1cHvtiYuQIC_1gTOpw&callback=initMap">
  </script>
  <%= content_tag :div, class: "locations", data: {locations: @locations} do %>
  <% end %>

  <h1>Here be markers!</h1>

  <div id='map'>
  </div>

  <footer>
    <span>Still hungry? <%= link_to 'Get some Bacon', root_path %></span>
    <span>&nbsp;|&nbsp;</span>
    <span>If not, <%= link_to 'check out my FAQ', faqs_path %>.</span>
  </footer>
</div>
